<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="UTF-8">
  <title>Loo konto – MeediaRiiul</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='meediariiul.css') }}">
</head>
<body>

<header>
  <div class="logo-title">
    <img src="{{ url_for('static', filename='pildid/books.png') }}" width="60" alt="Logo">
    <h1>MeediaRiiul</h1>
  </div>
</header>

<div class="login-container">
  <h2>LOO KONTO</h2>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash-box {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="post" class="login-box">
    <label>Kasutajanimi</label>
    <input type="text" name="kasutajanimi" required>

    <label>Parool</label>
    <input type="password" name="parool" required>

    <button type="submit">Registreeru</button>
  </form>

  <p class="register-link">
    On juba konto? <a href="{{ url_for('login') }}">Logi sisse</a>
  </p>
</div>

</body>
</html>
